<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Register Anime</title>
</head>
<body>
    <div layout:fragment="content">

        <h1>Register Anime</h1>
        <form method="post" action="/animes">

            <input type="hidden" name="_method" value="put" th:if="${anime != null}">
            <input type="hidden" name="id" th:value="${anime?.id}">

            <div>
                <label for="name">Name:</label>
                <input id="name" name="name" th:value="${anime?.name}">
            </div>

             <div>
              <label for="duration">Duration (in minutes):</label>
              <input id="duration" name="duration" th:value="${anime?.duration}">
             </div>

             <div>
              <label for="year">Year of Release</label>
              <input id="year" name="year" th:value="${anime?.year}">
            </div>

            <div>
                <label for="genre">Genre</label>
                <input id="genre" name="genre" th:value="${anime?.genre}">
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>